!docker-compose.override.sample.yml
!onetl_local.default.env
!test_conf.default.yaml
*$py.class
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
.Python
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.project/
.pydevproject/
.pyre/
.pytest_cache/
.python-version
.ropeproject
.run/
.scrapy
.settings/
.spyderproject
.spyproject
.tox/
.venv
.vscode
.webassets-cache
/site
ENV/
MANIFEST
__pycache__/
__pypackages__/
build/
celerybeat-schedule
celerybeat.pid
coverage.xml
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docker-compose*override*
docs/*.tar.gz
docs/_build/
docs/build
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
ipython_config.py
local_settings.py
metastore_db
nosetests.xml
onetl_local*
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
pip-wheel-metadata/
profile_default/
sdist/
share/python-wheels/
spark-warehouse
target/
test_conf*
var/
ve/
venv.bak/
venv/
virtualenv/
wheels/
/jar/
