version: '3.9'

# NOTE: local development only
services:
  onetl:
    image: mtsrus/onetl:develop
    build:
      dockerfile: ./docker/Dockerfile
      context: .
      target: base
      args:
        SPARK_VERSION: 3.3.2
    env_file: .env.docker
    volumes:
    - ./:/app/
    networks:
    - onetl
    - default
    ulimits:
      # https://stackoverflow.com/a/56895801
      nofile:
        soft: 10000
        hard: 10000
    # no dependencies from other containers to allow running limited set of tests instead of all


  mongodb:
    image: mongo:latest
    restart: unless-stopped
    ports:
    - 27017:27017
    env_file: .env.dependencies
    networks:
    - onetl

  minio:
    image: bitnami/minio:latest
    restart: unless-stopped
    env_file: .env.dependencies
    ports:
    - 9010:9000
    - 9011:9001
    networks:
    - onetl

  postgres:
    image: docker.rep.msk.mts.ru/bigdata/platform/onetools/postgres:develop
    build:
      dockerfile: ./docker/postgres/Dockerfile
      context: .
    restart: unless-stopped
    env_file: .env.dependencies
    ports:
    - 5432:5432
    networks:
    - onetl

  greenplum:
    image: datagrip/greenplum:6.8
    restart: unless-stopped
    env_file: .env.dependencies
    ports:
    - 5433:5432
    networks:
    - onetl

  hive2:
    image: docker.rep.msk.mts.ru/bigdata/platform/onetools/onetl/hive2:develop
    build:
      dockerfile: ./docker/hive2/Dockerfile
      context: .
    hostname: hive2
    restart: unless-stopped
    env_file: .env.dependencies
    depends_on:
    - postgres
    ports:
    - 50010:50010
    - 50020:50020
    - 50070:50070
    - 50075:50075
    - 10000:10000
    - 10020:10020
    - 19888:19888
    - 9000:9000
    - 8030:8030
    - 8031:8031
    - 8032:8032
    - 8033:8033
    - 8040:8040
    - 8042:8042
    - 8088:8088
    networks:
    - onetl

  oracle:
    image: gvenzl/oracle-xe:21.3.0-faststart
    restart: unless-stopped
    env_file: .env.dependencies
    ports:
    - 1522:1521
    networks:
    - onetl

  webdav:
    image: chonjay21/webdav:latest
    restart: unless-stopped
    env_file: .env.dependencies
    ports:
    - 8000:80
    volumes:
    # Remove after https://github.com/chonjay21/docker-webdav/pull/3
    - ./docker/webdav/on_post_init.sh:/sources/webdav/eventscripts/on_post_init.sh
    networks:
    - onetl

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    restart: unless-stopped
    ports:
    - 8123:8123
    - 9001:9000
    networks:
    - onetl

  mysql:
    image: mysql:latest
    restart: unless-stopped
    env_file: .env.dependencies
    ports:
    - 3306:3306
    networks:
    - onetl

  mssql:
    image: mcmoe/mssqldocker:latest
    restart: unless-stopped
    env_file: .env.dependencies
    ports:
    - 1433:1433
    networks:
    - onetl

  sftp:
    image: linuxserver/openssh-server
    restart: unless-stopped
    env_file: .env.dependencies
    ports:
    - 2222:2222
    networks:
    - onetl

networks:
  onetl:
