include README.rst onetl/VERSION
recursive-include requirements *.txt
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig
recursive-exclude docs *
recursive-exclude tests *
prune docs*
prune tests*
