include README.rst requirements.txt onetl/VERSION
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig
recursive-exclude docs *
recursive-exclude tests *
prune docs*
prune tests*
