deprecated
etl-entities>=1.2.0,<1.3
evacuator>=1.0,<1.1
ftputil>=5.0.4
hdfs[kerberos]>2
humanize
importlib_metadata
minio
ordered-set
paramiko
platformdirs
# https://github.com/pydantic/pydantic/issues/4498
pydantic<1.10.2
pyyaml
typing_extensions
webdavclient3
