-r requirements.txt
clickhouse-driver

# Oracle client
cx_Oracle

mtspark

omegaconf
psycopg2-binary
pyftpdlib
pyhive[hive, sqlalchemy] >= 0.6
PyMySQL
pyopenssl
pyspark < 3
pytest
pytest-cov

pyyaml>5


# mypy
types-PyYAML
