-r requirements.txt
clickhouse-driver

# coverage
coverage

# Oracle client
cx_Oracle

mtspark[spark2.3]

omegaconf
psycopg2-binary
pyftpdlib
pymssql
PyMySQL
pyodbc
# https://github.com/giampaolo/pyftpdlib/issues/578
pyopenssl<22.1
pyspark<3
pytest
pytest-lazy-fixture
pytest-rerunfailures

sftpserver
sqlalchemy

# mypy
types-PyYAML
