clickhouse-driver

# coverage
coverage

# Oracle client
cx_Oracle
numpy>=1.16,<1.20

omegaconf
pandas>=0.24,<1.0
psycopg2-binary
pyarrow>=0.11,<0.12
pyftpdlib
pymongo<=3.10.1  # newer versions crash when importing a library
pymssql
PyMySQL
pyodbc
pyopenssl
pyspark<3
pytest
pytest-lazy-fixture
pytest-mock
pytest-rerunfailures
sftpserver
sqlalchemy

# mypy
types-PyYAML
