name: Tests for FTPS
on:
  workflow_call:
    inputs:
      ftps-version:
        required: true
        type: string
      python-version:
        required: true
        type: string
      os:
        required: true
        type: string
      with-cache:
        required: false
        type: boolean
        default: true

jobs:
  test-ftps:
    name: Run FTPS tests (server=${{ inputs.ftps-version }}, python=${{ inputs.python-version }}, os=${{ inputs.os }})
    runs-on: ${{ inputs.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python ${{ inputs.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ inputs.python-version }}

    - name: Cache pip
      uses: actions/cache@v3
      if: inputs.with-cache
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-python-${{ inputs.python-version }}-tests-ftps-${{ hashFiles('requirements/core.txt', 'requirements/ftp.txt', 'requirements/tests/base.txt') }}
        restore-keys: |
          ${{ runner.os }}-python-${{ inputs.python-version }}-tests-ftps-${{ hashFiles('requirements/core.txt', 'requirements/ftp.txt', 'requirements/tests/base.txt') }}
          ${{ runner.os }}-python-${{ inputs.python-version }}-tests-ftps-

    - name: Upgrade pip
      run: python -m pip install --upgrade pip setuptools wheel

    - name: Install dependencies
      run: |
        pip install -I -r requirements/core.txt -r requirements/ftp.txt -r requirements/tests/base.txt

    # Replace with Github Actions' services after https://github.com/chonjay21/docker-ftps/pull/3
    # Cannot use services because we need to mount config file from the repo, but services start before checkout.
    # See https://github.com/orgs/community/discussions/25792
    - name: Start FTPS
      run: |
        docker compose down -v --remove-orphans
        docker compose up -d ftps
      env:
        FTPS_IMAGE: chonjay21/ftps:${{ inputs.ftps-version }}
        COMPOSE_PROJECT_NAME: ${{ github.run_id }}-ftps${{ inputs.ftps-version }}

    - name: Wait for FTPS to be ready
      run: |
        ./docker/wait-for-it.sh -h localhost -p 2122 -t 60

    - name: Run tests
      run: |
        mkdir reports/ || echo "Directory exists"
        sed '/^$/d' ./.env.local | sed '/^#/d' | sed 's/^/export /' > ./env
        source ./env
        ./pytest_runner.sh -m ftps

    - name: Shutdown FTPS
      if: always()
      run: |
        docker compose down -v --remove-orphans
      env:
        COMPOSE_PROJECT_NAME: ${{ github.run_id }}-ftps${{ inputs.ftps-version }}

    - name: Upload coverage results
      uses: actions/upload-artifact@v4
      with:
        name: ftps-${{ inputs.ftps-version }}-python-${{ inputs.python-version }}-os-${{ inputs.os }}
        path: reports/*
